<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="camera" params="name parent x y z">

    <!-- joint: base_footprint -> base -->
    <joint name="${parent}_to_${name}" type="fixed">
      <origin xyz="${x} ${y} ${z}" rpy="0 0 0"/>
      <parent link="${parent}"/>
      <child link="${name}"/>
    </joint>

    <!-- link: base -->
    <link name="${name}">
      <xacro:create_box m="${camera_mass}" x="${camera_x}" y="${camera_y}" z="${camera_z}">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:create_box>
    </link>

  </xacro:macro>

</robot>
