<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="plate" params="name">

    <!-- link: base -->
    <link name="${name}">
      <xacro:create_cylinder m="${plate_mass}" r="${plate_radius}" l="${plate_length}">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:create_cylinder>
    </link>

  </xacro:macro>

</robot>
