<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="screen" params="name x y z">

    <!-- joint: screen -> plate -->
    <joint name="plate_top_to_${name}" type="fixed">
      <origin xyz="${x} ${y} ${z}" rpy="0 0 0"/>
      <parent link="plate_top"/>
      <child link="${name}"/>
    </joint>

    <!-- link: base -->
    <link name="${name}">
      <xacro:create_box m="${screen_mass}" x="${screen_x}" y="${screen_y}" z="${screen_z}">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:create_box>
    </link>

  </xacro:macro>

</robot>
