<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="torso" params="name">

    <!-- joint: torso -> laser -->
    <joint name="torso_to_laser" type="fixed">
      <origin xyz="0 0 0.2125" rpy="0 0 0"/>
      <parent link="base_scan"/>
      <child link="${name}"/>
    </joint>

    <!-- link: base -->
    <link name="${name}">
      <xacro:create_cylinder m="${body_mass}" r="${body_radius}" l="${body_length}">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:create_cylinder>
    </link>

    <!-- joint: torso -> laser -->
      <joint name="torso_to_plate" type="fixed">
        <origin xyz="0 0 0.21" rpy="0 0 0"/>
        <parent link="${name}"/>
        <child link="plate_bottom"/>
      </joint>
  </xacro:macro>

</robot>
